<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{Title}}</title>

    <link rel="icon" type="image/svg+xml" href="/public/favicons/favicon.svg" />
    <link rel="stylesheet" href="/static/css/main.tmp.css" />
    <link rel="preload" href="static/js/vendor/alpine.js" as="script" fetchpriority="high" />
    <script type="text/javascript" src="/static/js/vendor/alpine.js" integrity data-turbo-track="reload" defer></script>

    <meta content="https://vftalk.my.id/" property="og:url" />
    <meta content="VFTalk" property="og:site_name" />
    <meta content="VFTalk" property="og:title" />
    <meta
      content="VFTalk is an open-source Chat App for your privacy needs and to feels another experience of communications"
      property="og:description"
    />
    <meta content="id_ID" property="og:locale" />
    <meta content="en_EN" property="og:locale:alternate" />
    <meta content="website" property="og:type" />
    <meta content="https://vftalk.my.id/public/img/OG_cover.png" property="og:image"/>
    <meta content="https://vftalk.my.id/public/img/OG_cover.png" property="og:image:secure_url"/>
    <meta content="1200" property="og:image:width" />
    <meta content="630" property="og:image:height" />
    <meta content="Property Image" property="og:image:alt" />
    <meta content="2023-12-01T10:26:00Z" property="article:published_time" />
    <meta content="2023-12-03T19:02:52Z" property="article:modified_time" />
    <meta content="2023-12-03T19:02:52Z" property="article:updated_time" />
  </head>
  <body class="w-full max-h-screen h-screen text-[#ADDEBE] bg-gradient-to-tr from-black via-[#080d0a] to-black">
    <header
      x-data="{ openMenu: false }"
      class="h-fit w-10/12 md:w-9/12 mx-auto flex flex-row justify-between items-center pt-6"
    >
      <picture class="flex items-center">
        <img src="/public/icons/vftalk_3.svg" alt="Logo" title="VFtalk" class="w-[120px] h-auto" />
      </picture>
      <nav class="hidden md:flex flex-row gap-6 items-center text-xl">
        <a class="hover:text-[#2B874A] hover:underline" href="#about">About</a>
        <a class="hover:text-[#2B874A] hover:underline" href="#contact">Contact</a>
        <a class="hover:text-[#2B874A] hover:underline" href="https://github.com/ahmadhabibi14/chat-app">GitHub</a>
        <a class="hover:text-[#2B874A] hover:underline" href="/login">Login</a>
        <a href="/register" class="border border-[#ADDEBE] hover:border-[#2B874A] hover:text-[#2B874A] py-3 px-7 rounded-full font-bold text-xl hover:bg-emerald-900/10">
          Try It Free
        </a>
      </nav>
      <button @click="openMenu = !openMenu" class="text-[#ADDEBE] flex md:hidden">
        <svg class="fill-none w-9 h-auto" viewBox="0 0 24 24">
          <path d="M3 7H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M3 12H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M3 17H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
      </button>

      <div
        x-show="openMenu"
        @click.self="openMenu = false"
        style="display: none"
        x-transition:enter="transition ease-out duration-300"
        x-transition:leave="transition ease-in duration-300"
        id="backdrop"
        class="z-50 h-screen fixed top-0 bottom-0 left-0 right-0 bg-black/50"
      >
        <aside
          x-show="openMenu"
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="-translate-x-full"
          x-transition:enter-end="translate-x-0"
          x-transition:leave="transition ease-in duration-300"
          x-transition:leave-start="translate-x-0"
          x-transition:leave-end="-translate-x-full"
          class="w-9/12 bg-[#131313] h-full p-7"
        >
          <header class="flex flex-row-reverse justify-between">
            <button
              @click="openMenu = false"
              class="hover:bg-emerald-900/10 rounded-full p-2 flex items-center justify-center hover:text-[#2B874A]"
            >
              <svg class="w-9 h-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </button>
          </header>
          <nav class="flex flex-col gap-6 items-center text-xl">
            <a class="hover:text-[#2B874A] hover:underline" href="#about">About</a>
            <a class="hover:text-[#2B874A] hover:underline" href="#contact">Contact</a>
            <a class="hover:text-[#2B874A] hover:underline" href="https://github.com/ahmadhabibi14/chat-app">GitHub</a>
            <a class="hover:text-[#2B874A] hover:underline" href="/login">Login</a>
            <a href="/register" class="border border-[#ADDEBE] hover:border-[#2B874A] hover:text-[#2B874A] py-3 px-7 rounded-full font-bold text-xl hover:bg-emerald-900/10">
              Try It Free
            </a>
          </nav>
        </aside>
      </div>
    </header>
    <main class="w-9/12 mx-auto min-h-[90dvh]">
      <div
        class="text-center w-full md:w-8/12 mx-auto flex flex-col justify-center items-center gap-7 py-20 md:pt-40 md:pb-24"
      >
        <h1 class="text-6xl md:text-7xl font-bold !leading-[1.25]">Experience
          the
          <span class="titled"><span class="titled-content">Next</span></span>
          level of communication</h1>
        <p class="text-xl md:text-2xl text-white">VFTalk is an open-source Chat
          App for your privacy needs and to feels another experience of
          communications</p>
        <a
          href="/register"
          class="group relative py-4 pl-16 pr-24 bg-[#115A2A] hover:bg-[#2B874A] rounded-full flex flex-row justify-center items-center text-xl font-bold"
        >
          <span>Try it free</span>
          <svg
            class="w-7 absolute right-12 group-hover:right-10 transition-all duration-150 top-0 bottom-0 h-full"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              stroke="currentColor"
              d="M14.4301 5.92993L20.5001 11.9999L14.4301 18.0699"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              stroke="currentColor"
              d="M3.5 12H20.33"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </main>
    <footer class="bg-black w-full mx-auto border-t border-[#333] py-8 text-center">
      <div class="w-10/12 md:w-9/12 mx-auto flex flex-col md:flex-row gap-2 md:justify-between">
      <div
        class="flex gap-3 flex-row"
        x-data="{ year: '' }"
        x-init="year = new Date().getFullYear()">
        <p>Copyright &copy; <span x-text="year"></span></p>
        <span class="text-[#2B874A]">•</span>
        <p>VFTalk</p>
      </div>
      <div class="flex gap-3 flex-row">
        <a class="hover:text-[#2B874A] hover:underline" href="/privacy-policy">Privacy Policy</a>
        <span class="text-[#2B874A]">•</span>
        <a class="hover:text-[#2B874A] hover:underline" href="/term-of-service">Term of Service</a>
        <span class="text-[#2B874A]">•</span>
        <a class="hover:text-[#2B874A] hover:underline" href="/apidocs">API Docs</a>
      </div>
      </div>
    </footer>
  </body>
</html>