<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/public/favicons/favicon.svg" />
    <title>{{Title}}</title>

    <link rel="stylesheet" href="/static/css/main.tmp.css" />
  </head>
  <body>
    <main class="w-full bg-black max-h-screen h-screen text-[#ADDEBE] pt-16">
      <div
        class="flex flex-row justify-center items-center w-full h-fit mx-auto"
      >
        <div class="bg-gradient-to-tr from-black via-[#080d0a] to-black rounded-2xl w-full mx-[10px] md:w-[440px] flex flex-col gap-8 p-5 md:p-8 border border-[#333]">
          <h1 class="text-4xl capitalize font-bold">{{Desc}}</h1>
          <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-2">
              <label
                for="username"
                class="ml-3 text-base font-medium text-[#ADDEBE]"
              >Username</label>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="johndoe123"
                class="auth-input-elm"
              />
            </div>
            <div class="flex flex-col gap-2 relative">
              <label
                for="password"
                class="ml-3 text-base font-medium text-[#ADDEBE]"
              >Password</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="yourpasssword123"
                class="auth-input-elm"
              />
              <button onclick="togglePassword()" class="absolute right-3 bottom-[10px] p-0 hover:text-[#ADDEBE] text-[#333]">
                <svg id="eye" class="block" width="22" height="22" viewBox="0 0 24 24" fill="none">
                  <path d="M15.58 12C15.58 13.98 13.98 15.58 12 15.58C10.02 15.58 8.42004 13.98 8.42004 12C8.42004 10.02 10.02 8.42004 12 8.42004C13.98 8.42004 15.58 10.02 15.58 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 20.27C15.53 20.27 18.82 18.19 21.11 14.59C22.01 13.18 22.01 10.81 21.11 9.39997C18.82 5.79997 15.53 3.71997 12 3.71997C8.46997 3.71997 5.17997 5.79997 2.88997 9.39997C1.98997 10.81 1.98997 13.18 2.88997 14.59C5.17997 18.19 8.46997 20.27 12 20.27Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg id="eye-slash" class="hidden" width="22" height="22" viewBox="0 0 24 24" fill="none">
                  <path d="M14.53 9.47004L9.47004 14.53C8.82004 13.88 8.42004 12.99 8.42004 12C8.42004 10.02 10.02 8.42004 12 8.42004C12.99 8.42004 13.88 8.82004 14.53 9.47004Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17.82 5.76998C16.07 4.44998 14.07 3.72998 12 3.72998C8.46997 3.72998 5.17997 5.80998 2.88997 9.40998C1.98997 10.82 1.98997 13.19 2.88997 14.6C3.67997 15.84 4.59997 16.91 5.59997 17.77" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.42004 19.5301C9.56004 20.0101 10.77 20.2701 12 20.2701C15.53 20.2701 18.82 18.1901 21.11 14.5901C22.01 13.1801 22.01 10.8101 21.11 9.40005C20.78 8.88005 20.42 8.39005 20.05 7.93005" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15.5099 12.7C15.2499 14.11 14.0999 15.26 12.6899 15.52" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9.47 14.53L2 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M22 2L14.53 9.47" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>

            <div class="flex flex-row gap-2 ml-3 mt-3">
              <input type="checkbox" name="agree" id="agree" />
              <p>I agree with the <a href="/terms-of-service" class="text-[#2B874A] underline">Terms of Service</a></p>
            </div>

            <div>
              <button id="loginBtn" class="flex flex-row justify-center items-center w-full bg-[#115A2A] hover:bg-[#2B874A] py-3 h-fit px-7 rounded-2xl mt-4 disabled:bg-[#115A2A]">
                <span id="loginTxt" class=" text-xl font-bold">Login</span>
                <svg
                  id="loginLoadingIcon"
                  viewBox="0 0 24 24"
                  class="w-[22px] h-auto stroke-[#ADDEBE] fill-none animate-spin hidden"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <line x1="12" y1="2" x2="12" y2="6"></line>
                  <line x1="12" y1="18" x2="12" y2="22"></line>
                  <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                  <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                  <line x1="2" y1="12" x2="6" y2="12"></line>
                  <line x1="18" y1="12" x2="22" y2="12"></line>
                  <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                  <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                </svg>
              </button>
            </div>

            <div class="flex flex-row gap-2 items-center py-3">
              <span class="h-px grow bg-[#333]"></span>
              <span>or</span>
              <span class="h-px grow bg-[#333]"></span>
            </div>

            <div class="flex flex-col gap-3">
              <a href="/oauth/google" class="flex flex-row gap-3 justify-center items-center text-gray-100 hover:text-gray-200 font-bold py-4 rounded-2xl border-[#333] border bg-[#0a0a0a] hover:bg-[#0f0f0f]">
                <img src="/public/icons/oauth/google.svg" class="w-6 h-auto" alt="Google" />
                <span>Login with Google</span>
              </a>
              <a href="" class="flex flex-row gap-3 justify-center items-center text-gray-100 hover:text-gray-200 font-bold py-4 rounded-2xl border-[#333] border bg-[#0a0a0a] hover:bg-[#0f0f0f]">
                <img src="/public/icons/oauth/facebook.svg" class="w-6 h-auto" alt="facebook" />
                <span>Login with Facebook</span>
              </a>
            </div>
            
            
            <div class="text-center mt-5">
              <p>Not registered yet? <a href="/register" class="text-[#2B874A] font-semibold underline cursor-pointer">Create an account</a></p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/js/auth/main.js"></script>
    <script src="/static/js/auth/login.js"></script>
    <script src="/static/js/vendor/notifier.js"></script>
  </body>
</html>