<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Title}}</title>

  <link rel="icon" type="image/svg+xml" href="/public/favicons/favicon.svg" />
  <link rel="stylesheet" href="/static/css/main.tmp.css" />
  <link rel="preload" href="static/js/vendor/alpine.js" as="script" fetchpriority="high" />
  <script type="text/javascript" src="/static/js/vendor/alpine.js" integrity data-turbo-track="reload" defer></script>

  <meta content="https://vftalk.my.id/" property="og:url" />
  <meta content="VFtalk" property="og:site_name" />
  <meta content="VFtalk | Privacy Policy" property="og:title" />
  <meta content="VFTalk Privacy Policy" property="og:description"/>
  <meta content="id_ID" property="og:locale" />
  <meta content="en_EN" property="og:locale:alternate" />
  <meta content="website" property="og:type" />
  <meta content="https://vftalk.my.id/public/img/OG_cover.png" property="og:image"/>
  <meta content="https://vftalk.my.id/public/img/OG_cover.png" property="og:image:secure_url"/>
  <meta content="1200" property="og:image:width" />
  <meta content="630" property="og:image:height" />
  <meta content="Property Image" property="og:image:alt" />
  <meta content="2023-12-01T10:26:00Z" property="article:published_time" />
  <meta content="2023-12-12T19:02:52Z" property="article:modified_time" />
  <meta content="2023-12-12T19:02:52Z" property="article:updated_time" />
</head>
<body class="w-full max-h-screen h-screen text-[#ADDEBE] bg-black">
  <main class="w-full md:w-6/12 px-[10px] md:mx-auto min-h-[90dvh] py-7">
    <div class="py-6 flex flex-col gap-6">
      <h1 class="text-5xl font-bold text-center">Privacy Policy</h1>
      <p>
        This Privacy Policy describes how your personal information is collected, used, and shared when you use our services. By accessing or using our services, you consent to the practices described in this Privacy Policy.
      </p>
      <div class="flex flex-col gap-3">
        <h2 class="text-3xl font-bold">1. Information We Collect</h2>
        <div class="flex flex-col gap-3 ml-8">
          <p>
            We collect information that you provide directly to us. This includes, but is not limited to, information provided during the account creation process, posting content, interacting with other users, and using features on our platform. The types of personal information we may collect include:
          </p>
          <ol class="list-disc ml-8">
            <li>
              Account Information: Access token, expiration information, ID token, refresh token, and other account-related details.
            </li>
            <li>
              User Information: Name, username, email address, password, and profile image.
            </li>
            <li>
              Content Information: Text content of questions, answers, and other user-generated content.
            </li>
            <li>
              Transaction Information: Information about interactions with our platform, such as favoriting, rating, or other activities.
            </li>
          </ol>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h2 class="text-3xl font-bold">2. How We Use Your Information</h2>
        <div class="flex flex-col gap-3 ml-8">
          <p>We use the information we collect for various purposes, including but not limited to:</p>
          <ol class="list-disc ml-8">
            <li>Providing, maintaining, and improving our services.</li>
            <li>Facilitating communication between users.</li>
            <li>Enforcing our Terms of Service and other policies.</li>
            <li>Responding to your inquiries and providing customer support.</li>
            <li>Sending you notifications and updates related to your account and activities.</li>
          </ol>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h2 class="text-3xl font-bold">3. Data Sharing and Disclosure</h2>
        <div class="flex flex-col gap-3 ml-8">
          <p>We may share your personal information with third parties under the following circumstances:</p>
          <ol class="list-disc ml-8">
            <li>With your consent or as necessary to fulfill the purpose for which you provided it.</li>
            <li>To comply with legal obligations, resolve disputes, and enforce our agreements.</li>
            <li>In connection with a merger, acquisition, or sale of assets.</li>
          </ol>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h2 class="text-3xl font-bold">4. Data Security</h2>
        <div class="flex flex-col gap-3 ml-8">
          <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. However, no data transmission over the internet or electronic storage is completely secure.</p>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h2 class="text-3xl font-bold">5. Your Choices and Rights</h2>
        <div class="flex flex-col gap-3 ml-8">
          <p>You have the right to access, correct, or delete your personal information. You can manage your account settings to control the information we collect and how it is used. If you have questions or concerns about your privacy, please contact us.</p>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h2 class="text-3xl font-bold">6. Changes to This Privacy Policy</h2>
        <div class="flex flex-col gap-3 ml-8">
          <p>We may update this Privacy Policy from time to time to reflect changes in our practices. We will notify you of any significant changes by posting the new Privacy Policy on this page.</p>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h2 class="text-3xl font-bold">Contact Us</h2>
        <div class="flex flex-col gap-3 ml-8">
          <p>If you have any questions about this Privacy Policy or the treatment of your personal information, please contact us at <a class="text-[#2B874A] hover:underline" href="mailto:ahmadhabibi7159@gmail.com">ahmadhabibi7159@gmail.com</a></p>
          <p>This Privacy Policy was last updated on 12 December 2023.</p>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>

