<html lang="en">
  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/public/favicons/favicon.svg" />
  <title>{{Title}}</title>
  <link rel="stylesheet" href="/static/css/main.tmp.css" />
  <link rel="preload" href="static/js/vendor/alpine.js" as="script" fetchpriority="high" />
  <script type="text/javascript" src="/static/js/vendor/alpine.js" integrity data-turbo-track="reload" defer></script>
</head>

<body>
  <h1>User profile</h1>
</body>

</html>