<div class="flex flex-col gap-3 h-fit w-[320px] ">

  <div id="userData" class="w-full bg-[#0a0a0a] p-5 border border-[#333] rounded-2xl">
    <div class="flex flex-row justify-start gap-4">
      <div class="shrink-0">
        <img id="userAvatar" class="border-[4px] border-[#0a0a0a] w-[60px] h-auto rounded-full" alt="Avatar">
      </div>
      <div class="flex flex-col gap-2 shrink">
        <h2 id="userFullName" class="mt-2 text-2xl font-bold"></h2>
        <p class="text-[#ADDEBE]/60">Join on <span id="userJoinedDate"></span></p>
      </div>
    </div>
  </div>

  <p class="ml-3 text-zinc-500">Still prototype:</p>
  <div id="stats" class="w-full bg-[#0a0a0a] border border-[#333] rounded-2xl">
    <div id="chart" class="w-full h-fit rounded-2xl">
      {{!-- Charts will be render here --}}
    </div>
  </div>
  <script>
    function formatDatetime( dateData ) {
      if( !dateData ) return "";
      const dt = new Date( dateData );
      // const date = dt.getDate();
      const month = dt.toLocaleDateString( "default", {month: "long"} );
      const year = dt.getFullYear();
      const formattedDate = `${month} ${year}`;
      return formattedDate;
    }

    // Element Variables
    let ELM_userAvatar = document.getElementById("userAvatar");
    let ELM_userFullName = document.getElementById("userFullName");
    let ELM_userJoinedDate = document.getElementById("userJoinedDate");

    // User Data
    let userAvatar = `{{ UserData.Avatar }}`;
    let userFullName = `{{ UserData.FullName }}`;
    let userJoinedDate = `{{ JoinAt }}`;

    // Stats
    document.addEventListener("DOMContentLoaded", async function () {
      var options = {
        series: [
          {
            name: "User Active",
            data: [31, 40, 28, 51]
          }, {
            name: "Chats Record",
            data: [11, 32, 70, 32]
          }
        ],
        grid: {
          show: true,
          borderColor: "#333",
        },
        chart: {
          height: 350,
          type: "area",
          toolbar: {
            show: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          curve: "smooth",
          lineCap: "butt",
          width: 2,
          dashArray: 0, 
        },
        xaxis: {
          type: "datetime",
          categories: ["2023-11-19T00:00:00.000Z", "2023-11-19T01:30:00.000Z", "2023-11-19T02:30:00.000Z", "2023-11-19T03:30:00.000Z"]
        },
        tooltip: {
          x: {
            format: "dddd, d MMMM yyyy HH:mm"
          },
          theme: "dark",
        }
      };

      var chart;
      setTimeout(() => {
        chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
      }, 500);
      if (userAvatar.includes("https")) {
        ELM_userAvatar.src = userAvatar;
      } else {
        ELM_userAvatar.src = `/files${userAvatar}` || "/files/img/avatars/default.png";
      }
      ELM_userFullName.innerText = `${userFullName}` || "John Doe";
      ELM_userJoinedDate.innerText = formatDatetime( userJoinedDate );
    });
  </script>
</div>