<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/public/favicons/favicon.svg" />
    <title>{{Title}}</title>
    <link rel="stylesheet" href="/static/css/main.tmp.css" />
  </head>
  <body>
    <div class="w-full bg-black h-screen">
      <div class="w-8/12 h-full mx-auto">
        <input type="text" id="input" />
        <button onclick="send()">Send</button>
        <pre id="output"></pre>
      </div>
    </div>
    <script src="/static/js/main.js"></script>
  </body>
</html>