<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Title}}</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <input type="text" id="input"/>
  <button onclick="send()">Send</button>
  <pre id="output"></pre>
  <script>
    let input = document.getElementById("input");
    let output = document.getElementById("output");
    let socket = new WebSocket("ws://" + window.location.host + "/room");

    socket.onopen = () => {
      output.innerHTML += "Status: connected\n";
    };
    socket.onmessage = (e) => {
      console.log("Message: ", e.data)
      output.innerHTML += "Message from server: " + e.data + "\n";
    }

    function send() {
      socket.send(JSON.stringify({
        message: input.value
      }));
      input.value = "";
    }
  </script>
</body>
</html>