---
import BaseLayout from '../layouts/base.astro';
import UserLists from '../components/userlists.svelte';

const userlists = `{{.UserList}}`;
---

<BaseLayout>
	<main>
		<h1>About Page h</h1>
		<UserLists client:load {userlists}/>
	</main>
</BaseLayout>