---
import Layout from '../layouts/layout.astro';

const fullName:string = `{{.User.FullName}}`;
---

<Layout>
	<div>
		<h1>Welcome to VFtalk {fullName}</h1>
		<h3>Home page</h3>
		<div class="h-[600px] w-full">
			<p>halo</p>
		</div>
		<div class="h-[600px] w-full">
			<p>halo</p>
		</div>
		<div class="h-[600px] w-full">
			<p>halo</p>
		</div>
		<div class="h-[600px] w-full">
			<p>halo</p>
		</div>
		<div class="h-[600px] w-full">
			<p>halo</p>
		</div>
		<div class="h-[600px] w-full">
			<p>halo</p>
		</div>
	</div>
</Layout>