---
import BaseLayout from '../layouts/base.astro';
import AuthLogin from '../components/auth/login.svelte';
---

<BaseLayout>
	<div class="flex flex-row justify-between">
		<div class="w-fit h-fit">
			<img src="/icons/auth-desktop.svg" alt="Auth" class="w-[400px] h-auto" />
		</div>
		<AuthLogin client:load />
	</div>
</BaseLayout>