---
import Navbar from '../components/partials/navbar.svelte';
import Footer from '../components/partials/footer.astro';

const title: string = `{{.Title}}`;
const description: string = 'VFTalk is an open-source Chat App for your privacy needs and to feels another experience of communications VFTalk is an open-source Chat App for your privacy needs and to feels another experience of communications'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <meta content="https://vftalk.my.id" property="og:url" />
    <meta content="VFTalk" property="og:site_name" />
    <meta content="{{.Title}}" property="og:title" />
    <meta content={description} name="description" />
    <meta content={description} property="og:description" />
    <meta content="id_ID" property="og:locale" />
    <meta content="en_EN" property="og:locale:alternate" />
    <meta content="website" property="og:type" />
    <meta content="https://vftalk.my.id/img/OG_cover.png" property="og:image"/>
    <meta content="https://vftalk.my.id/img/OG_cover.png" property="og:image:secure_url"/>
    <meta content="1200" property="og:image:width" />
    <meta content="630" property="og:image:height" />
    <meta content="VFtalk" property="og:image:alt" />
    <meta content="2023-12-01T10:26:00Z" property="article:published_time" />
    <meta content="2023-12-03T19:02:52Z" property="article:modified_time" />
    <meta content="2023-12-03T19:02:52Z" property="article:updated_time" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="{{.Permalink}}"/>
	</head>
  <body class="w-full max-h-screen h-screen text-zinc-800 bg-zinc-50">
    <header class="w-full z-50 h-20">
      <div class="container mx-auto px-1 md:px-4 lg:max-w-7xl flex h-full items-center justify-between">
        <a href="/">
          <img src="/icons/vftalk-logo.svg" alt="VFtalk logo" title="VFtalk" class="w-28 h-auto">
        </a>
        <nav class="flex flex-row items-center font-semibold gap-7 h-full">
          <Navbar client:only/>
          <a href="/register" class="text-sm py-1.5 px-5 border-[2px] bg-emerald-500/20 hover:bg-emerald-500/30 border-emerald-700 rounded-full">Try it free</a>
        </nav>
      </div>
    </header>
    <main class="w-9/12 py-8 mx-auto min-h-[90dvh]">
      <slot />
    </main>
    <Footer />
	</body>
</html>