<div class="grow flex flex-col">
  <header id="mainHeader" class="z-[100] text-2xl font-semibold h-20 absolute top-24 md:top-0 right-0 left-0 bg-black/40 backdrop-blur flex flex-row px-16 items-center border-b border-[#333]">
    <a href="/" class="hover:bg-[#131313]/20 flex flex-col justify-between items-center h-full w-full">
      <div class="grow flex flex-row gap-2 justify-center items-center">
        <svg viewBox="0 0 24 24" fill="none" class="w-6 h-auto">
          <path stroke="currentColor" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path stroke="currentColor" d="M7.99998 3H8.99998C7.04998 8.84 7.04998 15.16 8.99998 21H7.99998" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path stroke="currentColor" d="M15 3C16.95 8.84 16.95 15.16 15 21" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path stroke="currentColor" d="M3 16V15C8.84 16.95 15.16 16.95 21 15V16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path stroke="currentColor" d="M3 9.0001C8.84 7.0501 15.16 7.0501 21 9.0001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <p>Global</p>
      </div>
      <span class="bg-transparent h-[4px] rounded-full w-20"></span>
    </a>
    <a href="/direct" class="hover:bg-[#131313]/20 flex flex-col justify-between items-center h-full w-full">
      <div class="grow flex flex-row gap-2 justify-center items-center">
        <svg viewBox="0 0 24 24" fill="none" class="w-6 h-auto">
          <path stroke="currentColor" d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path stroke="currentColor" d="M2 13H5.76C6.52 13 7.21 13.43 7.55 14.11L8.44 15.9C9 17 10 17 10.24 17H13.77C14.53 17 15.22 16.57 15.56 15.89L16.45 14.1C16.79 13.42 17.48 12.99 18.24 12.99H21.98" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path stroke="currentColor" d="M10.34 7H13.67" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path stroke="currentColor" d="M9.5 10H14.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <p>Direct</p>
      </div>
      <span class="bg-[#2B874A] h-[4px] rounded-full w-20"></span>
    </a>
  </header>
  <div class="flex-auto overflow-y-auto h-[0px] grow px-3 pt-48 md:pt-24 bg-[#0a0a0a]">
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-5 py-4 px-6 hover:bg-[#131313] rounded-xl cursor-pointer">
        <img class="w-[45px] h-[45px] rounded-[50%]" src="/public/img/img-001.jpg" alt="">
        <div class="flex flex-col gap-1 justify-end">
          <span class="font-bold text-2xl leading-none">Ahmad Habibi</span>
          <div class="flex flex-row gap-1 items-center text-blue-500 text-sm">
            <span class="font-bold text-xl">•</span>
            <span>2 new messages</span>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-5 py-4 px-6 hover:bg-[#131313] rounded-xl cursor-pointer">
        <img class="w-[45px] h-[45px] rounded-[50%]" src="/public/img/img-002.jpg" alt="">
        <div class="flex flex-col gap-1 justify-end">
          <span class="font-bold text-2xl leading-none">HBBIIIIII</span>
          <div class="flex flex-row gap-1 items-center text-blue-500 text-sm">
            <span class="font-bold text-xl">•</span>
            <span>18 new messages</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/home.js"></script>