{
  "openapi": "3.0.3",
  "info": {
    "title": "VFtalk RESTful API",
    "description": "API Spec for VFtalk RESTful API",
    "termsOfService": "https://vftalk.my.id/term-of-service",
    "contact": {
      "name": "API Support",
      "email": "support@vftalk.my.id"
    },
    "license": {
      "name": "MIT License",
      "url": "https://en.wikipedia.org/wiki/MIT_License"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://vftalk.my.id",
      "description": "VFtalk Server"
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "tags": ["Auth API"],
        "description": "Login to VFtalk",
        "summary": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/register": {
      "post": {
        "tags": ["Auth API"],
        "description": "Register to VFtalk",
        "summary": "Create an account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Register success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/oauth/google": {
      "get": {
        "tags": ["Auth API"],
        "description": "Login with Google",
        "summary": "Login with Google",
        "responses": {
          "308": {
            "description": "Login success",
            "headers": {
              "Location": {
                "description": "Login success",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      }
    },
    "/api/user-lists": {
      "post": {
        "security": [{
          "CookieAuth": [],
          "ApiKeyAuth": [],
          "OAuth2": []
        }],
        "tags": ["Users"],
        "description": "Get list of users",
        "summary": "Get list of users",
        "responses": {
          "200": {
            "description": "Get list of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "avatar": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/user-update-profile": {
      "put": {
        "security": [{
          "CookieAuth": [],
          "ApiKeyAuth": [],
          "OAuth2": []
        }],
        "tags": ["Users"],
        "description": "Update user profile",
        "summary": "Set new data to user profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  }
                }
              }    
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/user-update-avatar": {
      "put": {
        "security": [{
          "CookieAuth": [],
          "ApiKeyAuth": [],
          "OAuth2": []
        }],
        "tags": ["Users"],
        "description": "Update user avatar",
        "summary": "Set new picture for avatar",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }    
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile picture updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/room-general": {
      "get": {
        "servers": [
          {
            "url": "wss://vftalk.my.id",
            "description": "Chat room General API"
          }
        ],
        "security": [{
          "CookieAuth": [],
          "ApiKeyAuth": [],
          "OAuth2": []
        }],
        "tags": ["Chat Room"],
        "description": "Connect to room chat",
        "summary": "API room chat",
        "responses": {
          "101": {
            "description": "Connected to room chat",
            "headers": {
              "Connection": {
                "description": "Connected to room chat",
                "schema": {
                  "type": "string"
                }
              },
              "Upgrade": {
                "description": "Upgrade to the websocket connection",
                "schema": {
                  "type": "string"
                }
              },
              "Sec-WebSocket-Accept": {
                "description": "Sec-WebSocket-Accept",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "auth",
        "description": "Authentication for VFtalk API"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Authentication for VFtalk API"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authentication for VFtalk API"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://vftalk.my.id/oauth/google",
            "scopes": {
              "read:users": "Read user profile",
              "write:users": "Write user profile"
            }
          }
        }
      }
    },
    "schemas": {
      "CommonResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "errors": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "errors": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "token": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "errors": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}