{
    "swagger": "2.0",
    "info": {
        "description": "Restful API Specification of VFtlak",
        "title": "VFtalk API Docs",
        "termsOfService": "https://vftalk.my.id",
        "contact": {
            "name": "API Support",
            "email": "habi@ternaklinux.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://www.mit.edu/~amini/LICENSE.md"
        },
        "version": "1.0"
    },
    "host": "vftalk.my.id",
    "basePath": "/",
    "paths": {
        "/api/login": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Login to VFtalk",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/apis.LoginOut"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/apis.HTTPResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "apis.HTTPResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {},
                "errors": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "apis.LoginOut": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {},
                "datas": {
                    "type": "object",
                    "properties": {
                        "message": {
                            "type": "string"
                        },
                        "username": {
                            "type": "string"
                        }
                    }
                },
                "errors": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}