@tailwind base;
@tailwind components;
@tailwind utilities;

*, :after, :before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

*::selection {
  background: #2B874A;
  color: #ADDEBE;
}

html {
  font-size: 12px;
}

.turbo-progress-bar {
  @apply h-1 bg-[#115A2A];
}

.chat_root {
  @apply flex flex-row justify-start;
}

.chat_root.owned {
  @apply flex flex-row justify-end;
}

.chat_item {
  @apply bg-emerald-400/10 p-3 rounded-2xl border border-[#ADDEBE]/20 w-fit max-w-[70%] flex flex-col gap-1;
}

.chat_item .chat_username {
  @apply text-sm bg-sky-400/10 text-sky-500 py-0.5 px-2 rounded-xl border border-sky-500/20 w-fit;
}

.chat_item .chat_message {
  @apply text-lg text-ellipsis break-all;
}

#chatPartialContainer::-webkit-scrollbar {
  width: 0;
}

#chatPartialContainer::-webkit-scrollbar-track {
  background: transparent;
}

#chatPartialContainer::-webkit-scrollbar-thumb {
  background: transparent;
}

.auth-input-elm {
  @apply rounded-2xl w-full bg-[#0a0a0a] border border-[#333] py-4 pl-4 pr-12 caret-[#ADDEBE];
}

.auth-input-elm:focus,
.chat-input-elm:focus,
.profile-input-elm:focus {
  border: 1px solid #2B874A;
  outline: none;
}

.profile-input-elm {
  @apply text-xl font-semibold rounded-2xl w-full bg-[#0a0a0a] border border-[#333] py-4 pl-4 pr-12 caret-[#ADDEBE];
}

.chat-input-elm {
  @apply rounded-2xl w-full bg-[#0a0a0a] border border-[#333] py-4 pl-4 pr-12 caret-[#ADDEBE];
}

:global(.apexcharts-tooltip) {
  background: #333;
  color: #ADDEBE;
}

.titled {
  position: relative;
  white-space: nowrap;
}

.titled-content {
  position: relative;
  padding: 5px 15px 5px 10px;
  color: #131313;
}

.titled::before {
  background-color: #2B874A;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  --tw-skew-y: -3deg;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Notifier */
.notifyjs-container {
  @apply z-[900] fixed bottom-0 right-3 max-w-[304px] w-fit h-fit;
}

.notifyjs-container .notifyjs-notification {
  @apply rounded-lg hidden p-3 relative mb-3 w-full border border-transparent
  box-border flex-row justify-center items-center gap-3;
}

.notifyjs-container .notifyjs-notification p.progress {
  @apply absolute bottom-0 left-0 right-full h-[2px] mb-0;
  content: ' ';
}

.notifyjs-container .notifyjs-notification.alert-success {
  @apply bg-emerald-400/10 text-emerald-300 border-emerald-400;
}

.notifyjs-container .notifyjs-notification.alert-danger {
  @apply bg-red-400/10 text-red-300 border-red-400;
}

.notifyjs-container .notifyjs-notification.alert-warning {
  @apply bg-amber-400/10 text-amber-300 border-amber-400;
}

.notifyjs-container .notifyjs-notification.alert-info {
  @apply bg-blue-400/10 text-blue-300 border-blue-400;
}

.notifyjs-container .notifyjs-notification.alert-success p.progress {
  @apply bg-emerald-300 rounded-full;
}

.notifyjs-container .notifyjs-notification.alert-danger p.progress {
  @apply bg-red-300 rounded-full;
}

.notifyjs-container .notifyjs-notification.alert-warning p.progress {
  @apply bg-amber-300 rounded-full;
}

.notifyjs-container .notifyjs-notification.alert-info p.progress {
  @apply bg-blue-300 rounded-full;
}

.notifyjs-container .notifyjs-notification {
  @apply shrink;
}

.notifyjs-container .notifyjs-notification svg {
  @apply shrink-0;
}

.notifyjs-container .notifyjs-notification.alert-success .notifyjs-icon svg {
  @apply fill-emerald-300;
}

.notifyjs-container .notifyjs-notification.alert-danger .notifyjs-icon svg {
  @apply fill-red-300;
}

.notifyjs-container .notifyjs-notification.alert-warning .notifyjs-icon svg {
  @apply fill-amber-300;
}

.notifyjs-container .notifyjs-notification.alert-info .notifyjs-icon svg {
  @apply fill-blue-300;
}