---
const year: number = new Date().getFullYear();
---

<footer class="bg-black w-full mx-auto border-t border-[#333] py-8 text-center text-sm">
  <div class="w-10/12 md:w-9/12 mx-auto flex flex-col md:flex-row gap-2 justify-center md:justify-between">
  <div
    class="flex gap-1 md:gap-3 flex-row justify-center">
    <p>Copyright &copy; {year}</p>
    <span class="text-[#2B874A]">•</span>
    <p>VFTalk</p>
  </div>
  <div class="flex gap-1 md:gap-3 flex-row justify-center">
    <a class="hover:text-[#2B874A] hover:underline" href="/privacy-policy">Privacy Policy</a>
    <span class="text-[#2B874A]">•</span>
    <a class="hover:text-[#2B874A] hover:underline" href="/term-of-service">Term of Service</a>
    <span class="text-[#2B874A]">•</span>
    <a class="hover:text-[#2B874A] hover:underline" href="/apidocs">API Docs</a>
  </div>
  </div>
</footer>