---
const { avatarUrl, fullName, username } = Astro.props;
---

<aside class="w-[350px] h-screen flex p-6 sticky top-0 bottom-0">
  <div class="flex flex-col gap-5 w-full h-fit">
    <div class="flex flex-row justify-start items-center gap-4 bg-zinc-100 p-4 rounded-md">
      <div class="relative flex h-12 w-12 shrink-0 overflow-hidden rounded-full shadow-md">
        <img src={avatarUrl} class="aspect-square h-full w-full" alt="Avatar" />
      </div>
      <div class="flex flex-col gap-1 shrink truncate">
        <h2 class="truncate">{fullName}</h2>
        <p class="text-zinc-700 text-xs truncate">@{username}</p>
      </div>
    </div>
  </div>
</aside>